font-face("circular/circularstd-blackitalic", "circular black italic")
font-face("circular/circularstd-black", "circular black")
font-face("circular/circularstd-bold", "circular bold")
font-face("circular/circularstd-bolditalic", "circular bold italic")
font-face("circular/circularstd-book", "circular book")
font-face("circular/circularstd-bookitalic", "circular book italic")
font-face("circular/circularstd-medium", "circular medium")
font-face("circular/circularstd-mediumitalic", "circular medium italic")
