font-face("circular/black/italic/CircularStd-BlackItalic", "circularblackitalic")
font-face("circular/black/normal/CircularStd-Black", "circularblack")
font-face("circular/bold/italic/CircularStd-BoldItalic", "circularbolditalic")
font-face("circular/bold/normal/CircularStd-Bold", "circularbold")
font-face("circular/book/italic/CircularStd-BookItalic", "circularbookitalic")
font-face("circular/book/normal/CircularStd-Book", "circularbook")
font-face("circular/medium/italic/CircularStd-MediumItalic", "circularmediumitalic")
font-face("circular/medium/normal/CircularStd-Medium", "circularmedium")