.link
    font-family "circularbook"
    font-size 14px
    color color_black
    text-align center
    cursor pointer

    +For-wide()
        font-size 12px

    +For-tablet-only()
        font-size 14px