font-face(path, name)
  @font-face
    font-family: name;
    src: url(fonts_path + '' + path + '.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
